extends layout

block content
  p(id="H") #{lsH} 
  p(id="B") #{lsB}
  div(class="canvas" p ONUMé Lodève 2024)
  script(type='text/javascript', src='static/javascripts/app.js')
  script(type='text/javascript', src='static/javascripts/p5.min.js')
